.home-container {
    padding: 20px;
   font-family: 'Roboto', 'Helvetica Neue', sans-serif;
 }
 
 .header {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
 }
 
 .title {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   font-size: 24px; /*  tamanho do título  */
   margin: 0;
   color: #263A96;
 }
 .save-button {
   position: absolute;
   right: 0;
   padding: 10px 20px;
   border: none;
   background-color: #5CC6BA;
   color: white;
   cursor: pointer;
   border-radius: 5px;
   font-weight: 500;
 
 }
 
 .save-button:hover {
   background-color: #263A96;
 }
 
 .history-button {
   position: absolute; 
   left: 0px; 
   padding: 10px 20px;
   text-decoration: none;
   border: none;
   border-radius: 5px;
   font-size: 15px;
   cursor: pointer;
   color: white;
   background-color: #5CC6BA
   
 }
 .history-button:hover {
   background-color: #263A96; 
 }
 
 
 
 .divider {
 
   margin: 20px 0;
   border: 1px solid #ddd;
 }
 
 
 .date-section,
 .period-section {
   margin-bottom: 20px;
 }
 
 .date-input {
   padding: 8px;
   width: 150px;
   border: 2px solid #5CC6BA;
   border-radius: 10px;
 }
 
 .subtitle {
   font-size: 18px; /* tamanho do subtítulo  */
   margin: 0;
   font-weight: 500;
   color: #263A96;
 
 }
 
 .button-group {
   display: flex;
   gap: 10px;
 }
 
 .period-button {
   padding: 10px 20px;
   border: none;
   background-color: #f0f0f0;
   cursor: pointer;
   border-radius: 5px;
   transition: background-color 0.3s;
 }
 
 
 .period-button:hover {
   background-color: #5CC6BA;
 }
 
 .period-button.active {
   background-color: #5CC6BA;
   color: white;
 }
 .demands-textarea {
     width: 99%;
     height: 40px; 
     padding: 10px;
     border: 2px solid #5CC6BA;
     border-radius: 15px;
     resize: none;
 
   }
   .impediment-button {
     padding: 10px 20px;
     border: none;
     background-color: #f0f0f0;
     color: black;
     cursor: pointer;
     border-radius: 5px;
     transition: background-color 0.3s;
   }
   
   .impediment-button:hover {
     background-color: #ddd;
   }
   
   .impediment-button.selected {
     background-color: #5CC6BA;
     color: white;
   }
   .id-textarea {
     width: 15%;
     height: 10px; 
     padding: 5px;
     border: 2px solid #5CC6BA;
     border-radius: 5px;
     resize: none;
   }
   .footer {
     margin-top: auto;
     padding: 10px;
     text-align: center;
     border-top: 1px solid #ddd;
     // background-color: #f8f9fa;
   }
   
   .footer-icons {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
   }
   
   .footer-icon {
     text-decoration: none;
     color: black;
     font-size: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
   }
   
   .footer-icon i {
     font-size: 24px;
   }
   
   .footer-icon span {
     font-size: 12px;
     margin-top: 4px;
   }
   
   .footer-icon.active {
     color: #5CC6BA; /* Cor para o ícone selecionado */
   }
   
   .separator {
     border-left: 1px solid #ddd;
     height: 24px;
     align-self: center;
   }
   