<div class = "add-historico-container">
<div class="header">
    <h1 class="title">Horários</h1>
    <button class="save-button" >Salvar</button>
    
    <hr class="divider">


      
</div>


    <mat-form-field appearance="fill">
        <mat-label>Escolha a data</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="Escolha a data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    
</div>

<hr class="divider">
