<div class="horarios-container">
  <div class="header">
    <h1 class="title">Horários</h1>
    <hr class="divider">
    <div class="search-bar">
      <input type="text" placeholder="Pesquisar histórico..." (input)="onSearch($event)">
    </div>
  </div>
  <hr class="divider">

  <button (click)="irParaOutraPagina()">Adicionar</button>

  <mat-slide-toggle>Toggle me!</mat-slide-toggle>

<footer class="footer">
    <div class="footer-icons">
      <a href="/home" class="footer-icon" [class.active]="activeIcon === 'home'" (click)="setActiveIcon('home')">
        <i class="fas fa-home"></i>
      </a>
      <div class="separator"></div>
      <a href="/demandas" class="footer-icon" [class.active]="activeIcon === 'lista'" (click)="setActiveIcon('lista')">
        <i class="fas fa-list"></i>
      </a>
      <div class="separator"></div>
      <a href="/horarios" class="footer-icon" [class.active]="activeIcon === 'relogio'" (click)="setActiveIcon('relogio')">
        <i class="fas fa-clock"></i>
      </a>
      <div class="separator"></div>
      <a href="/pessoa" class="footer-icon" [class.active]="activeIcon === 'pessoa'" (click)="setActiveIcon('pessoa')">
        <i class="fas fa-user"></i>
      </a>
    </div>
  </footer>
</div>