<div class="historico-container">
  <!-- Título -->
  <div class="header">
    <button class="back-button" (click)="goBack()">Voltar</button>
    <h1 class="title">Histórico</h1>
  </div>
  
  <!-- Linha -->
  <hr class="divider">
  
  <!-- Barra de Pesquisa -->
  <div class="search-bar">
    <input type="text" placeholder="Pesquisar histórico..." (input)="onSearch($event)">
  </div>
  
  <!-- Linha -->
  <hr class="divider">
  
  <!-- Lista de Entradas -->
  
</div>







<!-- <div class="history-container">
  <h1 class="title">Histórico</h1>
  <div class="record">
    <h2 class="subtitle">Data</h2>
    <p>{{ historyData.date }}</p>
  </div>
  <div class="record">
    <h2 class="subtitle">Período</h2>
    <p>{{ historyData.period }}</p>
  </div>
  <div class="record">
    <h2 class="subtitle">Demandas</h2>
    <p>{{ historyData.demands }}</p>
  </div>
  <div class="record">
    <h2 class="subtitle">Impedimentos</h2>
    <p>{{ historyData.impediments }}</p>
  </div>
  <div class="record">
    <h2 class="subtitle">ID</h2>
    <p>{{ historyData.id }}</p>
  </div>
  <div class="record">
    <h2 class="subtitle">Observação</h2>
    <p>{{ historyData.observation }}</p>
  </div>
  <div class="record">
    <h2 class="subtitle">Status de liberação</h2>
    <p>{{ historyData.status }}</p>
  </div>
  <div class="record">
    <h2 class="subtitle">Sistema</h2>
    <p>{{ historyData.system }}</p>
  </div>
</div> -->
